<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <title>หน้าแรก</title>
</head>

<body style="background-color: #C6F8FF;">
  <header>
    <!-- Navbar --> 
    <a class="navbar-brand" href="/"><img src="https://www.mot.co.th/wp-content/uploads/2024/04/%E0%B9%82%E0%B8%A5%E0%B9%82%E0%B8%81%E0%B9%89-MOTNew-%E0%B9%81%E0%B8%9A%E0%B8%9A%E0%B8%8A%E0%B8%B1%E0%B8%94.png" style="width: 100px; height: 70px;margin-left: 40px; margin-top: 15px; margin-bottom: 15px;"></a>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">หน้าแรก</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/assetitlists">AS</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/assetlist">ASSET IT LIST CONTROL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/assetlist/getalldetail">รายละเอียด</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Report/getalldetail?limit=2&page=1">Report</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/pr/new">Create PR</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pr/list">View All PRs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/po/new">Create PO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/po/list">View All POs</a>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link" id="login" href="/login">Login</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" id="logout" href="/" style="display:none;">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <button class="back-to-top" id="backToTopBtn"><i class="fas fa-arrow-up"></i></button>
  
  

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlJirZ3jxA+jjrtdWnY9dtaG1zH7zWtggXtvI3RnCz5l5PQ2m5gPhj1x6tq" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGujX27/9AQKZDzGsa0ohb5mBLmc3DhQ5knxFvyDT3eF7bT2kv3D0VvfRGT" crossorigin="anonymous"></script>

  <script src="/javascripts/script.js"></script>


</body>
</html>
