<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/stylesheets/Report.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Create PR</title>
</head>
<body>
        <header>
        <!-- Navbar -->
        <% include index %>
    </header>
  <h1>Create Purchase Request (PR)</h1>
  <form action="/pr/new" method="POST">
    <label>Manual PR No:</label><input name="manual_PRno" type="number"><br/>
    <label>Date:</label><input name="date" type="date"><br/>
    <label>Name:</label><input name="name"><br/>
    <label>Note:</label><input name="note"><br/>
    <label>Customer:</label><input name="customer"><br/>
    <label>Supplier:</label><input name="supplier"><br/>
    <label>Term:</label><input name="term"><br/>
    <label>Delivery:</label><input name="delivery"><br/>
    <label>Validity:</label><input name="vlidity"><br/>
    <label>Transport:</label><input name="transport"><br/>
    <label>Reference:</label><input name="ref"><br/>
    <label>Discount:</label><input name="discount"><br/>
    <label>VAT:</label><input name="vat"><br/>
    <label>Net:</label><input name="net"><br/>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
